@import "../mixin";
@import "../variables";

.desc {
	margin: 50px 25px 0;
	text-align: center;
	@include font(400, 18px, 40px);
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.incorrect {
	color: $alert-color;
	@include font(500, 22px, 40px);
}

.correct {
	color: #4cbb17;
	@include font(500, 22px, 40px);
}

.btn-group {
	margin: 20px 0;
	text-align: center;

	& button:not(:last-child) {
		margin-bottom: 10px;
	}
}

.btn-next {
	@include btn-size(322px, 50px);
	@include font(500, 16px, 50px);
	@include btn-theme($main-color, #ffffff, 0, 0);
}
