@import "../mixin";

.desc {
	margin: 100px 25px 0;
	text-align: center;
	@include font(400, 18px, 44px);
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.btn-group {
	margin: 50px 0;
	text-align: center;

	& button:not(:last-child) {
		margin-bottom: 10px;
	}
}
